:root {
  --dkblue: #010326;
  --mdblue: #010440;
  --ltblue: #2291f2;
  --teal: #44f2b2;
  --gray: #f2f2f2;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 75%;
  margin: 0;
  padding: 0;
  background-color: var(--mdblue);
}

nav {
  background-color: var(--teal);
}

.nav-extended {
  color: #010440;
}

#brand-logo {
  font-family: "Pacifico", cursive;
  font-size: 60px;
  color: rgb(253, 253, 253);
}
