:root {
  --dkblue: #010326;
  --mdblue: #010440;
  --ltblue: #2291f2;
  --teal: #44f2b2;
  --gray: #f2f2f2;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
	/* height: 100vh; */
	margin: 0;
	padding: 0;
	background-color: var(--mdblue);
}

/* nav bar style */
nav {
  background-color: var(--teal);
}

/* img background */
/* .nav-extended {
  color: #010440;
} */

/* added brand logo style */
#brand-logo {

	font-family: 'Pacifico', cursive;
	font-size: 60px;
	color: rgb(253, 253, 253);
	background-color: var(--teal);
	height: 100px;
	margin: 0;
	padding-top: 15px;
}

/* concert img to fit page */
img {
	width: 100%;
	height: auto;
	z-index: 50;
}

/* choose your mood container */
#imgContainer {
	position: relative;
}

/* mood text display */
#moodText {
	position: absolute;
	color: white;
	z-index: 100;
	top: 20%;
	text-align: center;
	width: 100%;
	line-height: 1.6;
	font-weight: bold;
}

h4 {
	background-color: (0, 0, 0, 0.5);
}

.hidden {
	display: none;

/* background */
h4 {
  background-color: (0, 0, 0, 0.5);
}
